<div style="font-family: 'Open Sans', sans-serif; width: 800px; padding: 20px 40px;">

  <div style="padding: 30px 0px;background-color: #212228;max-width: 860px;text-align: center;">
    <%= link_to root_path, 'data-no-turbolink' => true do %>
      <%= image_tag("logo-mail.png") %>
    <% end %>
  </div>


  <h1 style="font-family: 'Open Sans', sans-serif;"><%= t("strings.mailers.coach.called_without_mail.title") %></h1>

  <ul style="margin: 0; padding: 0;">
    <% @players.each do |player| %>
      <li style="list-style: none; padding: 10px 0;">
        <%= player %>
      </li>
    <% end %>
  </ul>


</div>
