@include breakpoint($xs)
{
	.team_container
	{
		display: inline-block;
		margin-left: 300px;
		@include span(11 of 18);
		max-width: 1650px;
		min-width: 440px;
	}

	.teams
	{
		@include span(12 of 13);
		margin-left: span(1 of 13);
		margin-top: 40px;
	}

	.single_team
	{
		@include span(12 of 13);
		margin-right: 0;
		margin-bottom: 40px;
		min-height: 280px;
	}

	.team_name
	{
		font-size: 18px;
		font-weight: $bold_font;
		min-height: 50px;
	}

	.team_image
	{
		border-bottom: solid 4px $highlight;
		width: 100%;
	}


	.team_banner
	{

		position: relative;

		img
		{
			width: 100%;
		}

		h2
		{
			position: absolute;
			bottom: 0px;
			padding-left: 30px;
			color: $white;
			font-size: 26px;
		}
	}

	.box-body{
		select#states
		{
			float: right !important;
		}
	}
}

@include breakpoint($medium)
{
	.team_container
	{
		display: inline-block;
		margin-left: 300px;
		@include span(13 of 18);
		max-width: 1650px;
	}

	.single_team
	{
		@include span(3 of 13);
		margin-right: span(1 of 13);
		margin-bottom: 40px;
		min-height: 280px;
	}
	.team_banner
	{

		position: relative;

		img
		{
			width: 100%;
		}

		h2
		{
			position: absolute;
			bottom: 0px;
			padding-left: 30px;
			color: $white;
			font-size: 36px;
		}
	}
}
