<div class="box-body">
  <% if notice != nil %>
    <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h4> <i class="icon fa fa-check"></i> <%= t("strings.admin.notice") %></h4>
      <%= notice %>
    </div>
  <% end %>
  <% if alert != nil %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h4> <i class="fa fa-exclamation-triangle"></i> <%= t("strings.admin.alert") %></h4>
      <%= alert %>
    </div>
  <% end %>
</div>
