production:
  secret_key_base: {{ env_secret_key_base }}
  host: "{{ env_host }}"
  mailer_username: {{ env_mailer_user }}
  mailer_api_key: {{ env_mailer_key }}
  sentry_dsn: "{{ env_sentry_dsn }}"
  database:
    :host: localhost
    :username: {{ env_db_user }}
    :password: {{ env_db_password }}
