        <% if paginate_object %>
          <%= render partial: 'admin_partials/paginate', locals: { paginate_object: paginate_object} %>
        <% end %>
      </div><!-- /.box -->
    </div>
  </div>
</section>
